<!DOCTYPE html>
<html>
  <head>

    <style>
              /* Add CSS for styling */
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: rgb(31, 127, 200);
        color: #fff;
      }

      .navbar a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
      }

      footer{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      body {
        background-image: url('wallpaper.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      /* Add CSS for styling */
    </style>
  </head>
  <body>
    <div style="background:url(header.png);padding:15px;text-align:center;-webkit-text-fill-color: white;">
      <h1>UITM SPORT BOOKING SYSTEM</h1>
    </div>


     
 