<%- include('./partials/adhead.ejs') %>

<body>
  <!-- (A) SIDEBAR -->
  <div id="pgside">
    <!-- (A1) BRANDING OR USER -->
    <!-- LINK TO DASHBOARD OR LOGOUT -->
    <div id="pguser">
      <img src="potato.png">
      <i class="txt">Welcome Admin</i>
    </div>

    <!-- (A2) MENU ITEMS -->
    <a href="admindash.ejs" class="current">
      <i class="ico">&#9733;</i>
      <i class="txt">Dashboard</i>
    </a>
    <a href="adminlist.ejs">
      <i class="ico">&#9728;</i>
      <i class="txt">List of Booking</i>
    </a>
    <a href="editBook.ejs">
      <i class="ico">&#9728;</i>
      <i class="txt">Edit Bookings</i>
    </a>
    <a href="./editCourt.ejs">
      <i class="ico">&#9728;</i>
      <i class="txt">Edit Courts</i>
    </a>
    <a href="./index.ejs">
      <i class="ico">&#9737;</i>
      <i class="txt">Log Out</i>
    </a>
  </div>


    <!-- (B) MAIN -->
    <main id="pgmain">
    
        <ul>
        <li><p>Total Number of Bookings: 15</p></li>

        <li><p>Remaining Number of Unapproved Bookings: 1</p></li>
        
        <li><p>Number of Courts: 9</p></li>
        
        <li><p>Most Popular Court: Shah Alam Futsal Field B</p></li>
      </ul>
      
      <p>Copyright &copy; :BBAH 2022-2023. All rights reserved.</p>
    </main>
  </body>
  </html>