<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<!DOCTYPE html>
<html>
<head>
  <title>Booking Court Form | UiTM SBS </title>
    <link rel="icon" type="image/x-icon" href="logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #1F7FC8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #80D0F4;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  opacity: 1;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<body style="font-family:Verdana;color:black;">

<h2>Booking Court Form</h2>
<p>Please fill the information below.</p>

<div class="container">
  <form action="/action_page.html" method="post">
   
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Enter your full name" required>
      </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="name">Staff/Student ID</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" placeholder="Enter your staff/student ID"required>
        </div>
      </div>

    
      <div class="row">
        <div class="col-25">
          <label for="name">Phone Number</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" placeholder="Enter your phone number" required>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-25">
          <label for="name">Email</label>
        </div>
        <div class="col-75">
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
      </div>


      <div class="row">
        <div class="col-25">
          <label for="name">Court</label>
        </div>
        <div class="col-75">
            <select id="court" name="court">
                <option value="c1">Badminton Court 1 Complex A </option>
                <option value="c2">Badminton Court 2 Complex B </option>
                <option value="c3">Badminton Court 3 Complex C </option>
                <option value="c4">Badminton Court 4 Complex D </option>
                <option value="c5">Squash Court 1 Complex A</option>
                <option value="c6">Squash Court 2 Complex B</option>
                <option value="c7">Futsal Court 1 Complex A</option>
                <option value="c8">Futsal Court 2 Complex B</option>
                <option value="c9">Futsal Court 3 Complex C</option>
            </select>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-25">
          <label for="name">Date-Time Start</label>
        </div>
        <div class="col-75">
            <input type="datetime-local" id="datetimestart" name="datetimestart" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="name">Duration (Minutes) </label>
        </div>
        <div class="col-75">
            <input type="number" id="quantity" name="quantity" placeholder="Enter the duration" required>
        </div>
      </div>

  
    <div class="row">
      <div class="col-25">
        <label for="subject">Details</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write the details if there is equipments you want to borrow.." style="height:200px"></textarea>
      </div>
    </div>

    <input type="submit" value="Submit">
    <input type="reset" value = "Reset">
  </form>
</div>

</body>
</html>


<%- include('./partials/footer.ejs') %>