<%- include('./partials/header.ejs') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Facilities | UiTM SBS </title>
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
      .mySlides {display:none;}

      html {
        box-sizing: border-box;
      }

      *, *:before, *:after {
        box-sizing: inherit;
      }

      .menu {
        float: left;
        width: 20%;
        text-align: center;
      }

      .menu a {
        background-color: #80D0F4;
        padding: 8px;
        margin-top: 15px;
        display: block;
        width: 100%;
        color: black;
      }

      .main {
        float: left;
        width: 60%;
        padding: 20px;
        margin-left: 150px;
      }

      

      body {
        background-image: url('wallpaper.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
        
      }

      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        margin-left: 155px;
        padding: 0 8px;
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .container {
        padding: 0 16px;
        margin-left: 80px;
      }

      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }


      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }

      .button:hover {
        background-color: #555;
      }


      @media only screen and (max-width: 620px) {
        /* For mobile phones: */
        .menu, .main, .right {
          width: 100%;
        }
      }
    </style>
  </head>
  <nav class="navbar">
    <a href="index.ejs">Home</a>
    <a href="login.ejs">Login</a>
  </nav>

   
    <body  style="font-family:Verdana;color:black;">
        <div class="w3-content w3-section" style="max-width:500px">
            <img class="mySlides" src="a1.jpg" style="width:100%">
            <img class="mySlides" src="a2.jpg" style="width:76.5%">
            <img class="mySlides" src="a3.jpg" style="width:90%">
        </div>

        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 3000); // Change image every 2 seconds
            }
        </script>
 

        <div style="overflow:auto">
            <div class="menu">
          
            </div>
    
            <div align="justify" class="main">

                <h1>Getting fitter and healthier</h1>
                <p>The sports and recreation programs in the University are designed to inculcate the value of a healthy lifestyle among the undergraduates whilst allowing them to compete at the college and university level. The encouragement and involvement in the organized physical fitness programs and tournaments participated by the students are for them to value the importance of fitness in life and to have fun in the activities they participated in.</p>
                <br><br>
                <h1>Facilities in UiTM Sport Center</h1>
      
            </div> 
    

      <div class="row" margin-left:80px;>
        <div class="column">
          <div class="card">
            <img src="bad1.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Badminton Court 1</h2>
              <p class="title">Location: Sport Center Complex A </p>
            </div>
          </div>
        </div>

        <div class="row" margin-left:80px;>
            <div class="column">
              <div class="card">
                <img src="bad2.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Badminton Court 2</h2>
                  <p class="title">Location: Sport Center Complex B </p>
                </div>
              </div>
        </div>

        <div class="row" margin-left:80px;>
                <div class="column">
                  <div class="card">
                    <img src="bad3.jpg" alt="Jane" style="width:100%">
                    <div class="container">
                      <h2>Badminton Court 3</h2>
                      <p class="title">Location: Sport Center Complex C </p>
                    </div>
                </div>
        </div>

        <div class="row" margin-left:80px;>
            <div class="column">
              <div class="card">
                <img src="bad4.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Badminton Court 4</h2>
                  <p class="title">Location: Sport Center Complex D </p>
                </div>
            </div>
        </div>

        <div class="row" margin-left:80px;>
            <div class="column">
              <div class="card">
                <img src="squash2.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Squash Court 1</h2>
                  <p class="title">Location: Sport Center Shah Alam Court Complex A </p>
                </div>
            </div>
        </div>


        <div class="row" margin-left:80px;>
            <div class="column">
              <div class="card">
                <img src="squash.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Squash Court 2</h2>
                  <p class="title">Location: Sport Center Shah Alam Court Complex B </p>
                </div>
            </div>
        </div>

        <div class="row" margin-left:80px;>
            <div class="column">
              <div class="card">
                <img src="futsal.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Futsal Court 1</h2>
                  <p class="title">Location: Sport Center Shah Alam Court Complex A </p>
                </div>
            </div>
        </div>

        <div class="row" margin-left:80px;>
            <div class="column">
              <div class="card">
                <img src="futsal2.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Futsal Court 2</h2>
                  <p class="title">Location: Sport Center Shah Alam Court Complex B </p>
                </div>
            </div>
        </div>

        <div class="row" margin-left:80px;>
            <div class="column">
              <div class="card">
                <img src="futsal3.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Futsal Court 3</h2>
                  <p class="title">Location: Sport Center Shah Alam Court Complex C </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>



<%- include('./partials/footer.ejs') %>